<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PromNuget" value="http://10.102.2.27:93/nuget" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <apikeys>
    <add key="http://10.102.2.27:93/nuget" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAN+a7t026S0yNHZfjk5yt2QAAAAACAAAAAAADZgAAwAAAABAAAADf7/DH4dRXg0HB+043zdIGAAAAAASAAACgAAAAEAAAAIWwF+JI7nEUmqKZX0p7UaAYAAAAEQRhH9TsjHeBTwnGgWswsicXB/6xjTBxFAAAABXrc4/Ny7EiowZwMh6BOetbEcDg" />
  </apikeys>
</configuration>
